[Unit]
Description=Jellyfin MPV Shim cast client
After=graphical-session.target network-online.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/sbin/jellyfin-mpv-shim
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target
