[Unit]
Description=ntfy subscriber
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/ntfy subscribe --from-config
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target