[user]
	email = carlhansson677@gmail.com
	name = Carl Hansson
	signingkey = /home/carl/.ssh/id_ed25519_sign.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[tag]
	gpgsign = true
