@theme "/usr/share/rofi/themes/solarized_alternate.rasi"

configuration {
    modi:                       "drun";
    font:                       "JetBrainsMono Nerd Font 10";
    show-icons:                 true;
    icon-theme:                 "Colloid";
    display-drun:               "Applications";
    drun-display-format:        "{icon} {name}";
    sidebar-mode:               false;
    case-sensitive:             false;
}